
.section-1{
    background-color: rgb(179, 228, 231);
    z-index: 0;
    padding-bottom: 50%;
    position: relative;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.home-page ul{
    display: flex;
    list-style: none;
    font-family: "Fjalla One" , sans-serif;
    font-size: 170%;
    gap: 200px;
    padding: 1% 1%;
    color: #274c6d;
}
.home-page ul li{
    cursor: pointer;
    transition: 0.3s;
}
.home-page ul button{
    width: 400px;
    height: 60px;
    font-family: "Fjalla One" , sans-serif;
    font-size: 80%;
    color: white;
    border-radius: 80px;
    background-color: #6464a1;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px #274c6d;
    transition: 0.3s;
}
.home-page ul li:hover{
    transform: translateY(3px);
}
.home-page ul button:hover{
    transform: translateY(3px);
    background-color: #7e7ec4;
}
.cloud{
    position: absolute;
    top: 1%;
    left: 70%;
    z-index: -1;
}
.cloud-1{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.cloud-2{
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: -1;
}
.sun{
    position: absolute;
    z-index: -1;
}
.title-home{
    width: 30%;
    color: #274c6d;
    position: absolute;
    top: 30%;
    left: 15%;
}
.title-home h1{
    font-size: 500%;
    font-family: "Chewy" , system-ui;
}
.title-home p{
    font-size: 250%;
    font-family: "Fjalla One" , sans-serif;
    margin: 5% 0;
}
.title-home button{
    width: 50%;
    height: 70px;
    font-family: "Fjalla One" , sans-serif;
    font-size: 130%;
    color: white;
    background-color: #274c6d;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.title-home button:hover{
    background-color: #7e7ec4;
}
.image-home img{
    width: 40%;
    animation: imageVerb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 2%;
}
.image-home{
    position: absolute;
    left: 50%;
    top: 20%;
    overflow: hidden;
}
@keyframes imageVerb {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(6px);
    }
    100%{
        transform: translateY(0);
    }
}
.slide{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right ,
        transparent , 
        black 10% 90% , 
        transparent
    );
}
.list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.item{
   position: relative;
    width: var(--width);
    height: var(--height);
    left: 100%;
    animation: autoRun 8s linear infinite;
    animation-delay: calc((3s / var(--quantity)) * (var(--position) - 1) - 3s);
    transition: filter 0.5s;;
    overflow-y: hidden;
}
.item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left:100%
    }
    to{
        left:calc(var(--width) * -1)
    }
}
.slide:hover .item{
    animation-play-state: paused !important ;
    filter: grayscale(1);
}
.slider .item img:hover{
    filter: grayscale(0);
}
.carusel-home{
    position: absolute;
    top: 90%;
    margin-top: -5%;
}
.section-2{
    padding-bottom: 10%;
    background-color: #c3d2d4;
    overflow: hidden;
}
.title-home-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    color:#274c6d;
    font-family: "Fjalla One", sans-serif;
}
.title-home-2 h1{
    font-size: 500%;
}
.title-home-2 p{
    font-size: 300%;
}
.desc-home-2{
    display: grid;
    grid-template-columns: auto auto;
}
.big-desc-home-2{
    width: 70%;
    margin: 5% 5%;
}
.image-home-2{
    display: flex;
    justify-content: flex-end;
    margin-top: -43%;
    margin-right: 10%;
    animation: transformImage;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes transformImage{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}
.section-3{
    border-radius: 0 0 50% 50%;
    background:linear-gradient(to bottom , #6464a1 , white);
}
.title-home-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
    font-family: "Fjalla One", sans-serif;
    color: white;
}
.title-home-3 h1{
    font-size: 500%;
}
.title-home-3 p{
    font-size: 250%;
}
.title-home-3 button{
    margin-top: 3%;
    width: 50%;
    height: 70px;
    font-family: "Fjalla One" , sans-serif;
    font-size: 130%;
    color: #6464a1;
    background-color: #e6e65c;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.title-home-3 button:hover{
    background-color: #f0f036;
}
.desc-home-3{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;
    color: white;
}
.card-desc-3{
    width: 20%;
}
.card-desc-3 h1{
    font-size: 200%;
}
.card-desc-3 p{
    font-size: 150%;
}
.image-home-3{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.image-home-3 img{
    width: 20%;
}
.title-home-4{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15%;
    margin-top: 10%;
    font-family: "Fjalla One" , sans-serif;
}
.card-home-4{
    width: 30%;
}
.card-home-4 img{
    margin: 10% 0;
}
.card-home-4 h1{
    font-size: 300%;
    color: #6464a1;
}
.card-home-4 p{
    font-size: 120%;
    color: #6464a1;
}
.section-4{
    padding-bottom: 70%;
}
.wrapper-home-5{
    border-radius: 50px;
    position: absolute;
    left: 15%;
    width: 70%;
    background: linear-gradient(121deg, #ff93ab 10.7%, #fdb154 68.69%);
}
.title-home-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
    gap: 50px;
    font-family:  "Fjalla One", sans-serif;
    color: white;
}
.title-home-5 h1{
    font-size: 300%;
}
.title-home-5 p{
    font-size: 200%;
}
.title-home-5 button{
    width: 50%;
    height: 70px;
    font-family: "Fjalla One" , sans-serif;
    font-size: 130%;
    color: #6464a1;
    background-color: #e6e65c;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.title-home-5 button:hover{
    transform: translateY(-10px);
}
.desc-home-5{
    display: flex;
    justify-content: center;
    margin: 10% 0;
}
.card-home-5{
    background-color: white;
    padding: 2% 2%;
    margin: 2% 2%;
    border-radius: 50px;
}
.card-home-5 p{
    font-size: 150%;
}
.card-home-5 h1{
    font-size: 200%;
    margin-top: 5%;
}
.section-5{
    padding-bottom: 50%;
}
.title-home-6{
   position: absolute;
   left: 30%;
   margin-top: 10%;
}
.title-home-6 h2{
    display: flex;
    justify-content: center;
    margin: 5%;
    font-family: "Fjalla One", sans-serif;
    font-size: 600%;
    color: #274c6d;
}
